@import 'https://use.typekit.net/oov2wcw.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century-gothic, sans-serif;
}

.weatherDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e3e3;
    text-align: center;
    font-size: 20px;
    color: #333;
    padding: 10px;
    font-weight: bold;
    margin: auto;
    max-width: 600px;
    border-radius: 10px;
}

h1{
    margin-bottom: 20px;
}